<header>
    <div class="botao-menu">
        <a href="{{URL}}"><img src="https://via.placeholder.com/500" alt=""></a>
    </div>

    <div class="pesquisar-menu">
        <div>
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <div>
            <form action="{{URL}}/pesquisaheader" method="get">
                <input type="text" name="pesquisa" placeholder="Pesquisar...">
            </form>
            
        </div>
    </div>

    <div class="perfil-menu">
        <a>Perfil</a>
        <i class="fa-solid fa-arrow-right-from-bracket"></i>
    </div>
</header>