<div class="content">

    <style>
        #matematica{
            background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.45), rgba(61, 61, 61, 0.3)),url("{{URL}}/resources/images/materias/matematica.jpg");
            background-position: center;
            background-size: 100%;
            
            transition: .3s;
        }
        #matematica:hover{
            background-size: 110%;
        }

        #portugues{
            background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.45), rgba(61, 61, 61, 0.3)),url("{{URL}}/resources/images/materias/portugues.jpg");
            background-position: center;
            background-size: 100%;
            
            transition: .3s;
        }
        #portugues:hover{
            background-size: 110%;
        }


        #historia{
            background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.45), rgba(61, 61, 61, 0.3)),url("{{URL}}/resources/images/materias/historia.jpg");
            background-position: center;
            background-size: 100%;
            
            transition: .3s;
        }
        #historia:hover{
            background-size: 110%;
        }

        #geografia{
            background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.45), rgba(61, 61, 61, 0.3)),url("{{URL}}/resources/images/materias/geografia.jpg");
            background-position: center;
            background-size: 100%;
            
            transition: .3s;
        }
        #geografia:hover{
            background-size: 110%;
        }

        #filosofia{
            background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.45), rgba(61, 61, 61, 0.3)),url("{{URL}}/resources/images/materias/filosofia.jpg");
            background-position: center;
            background-size: 100%;
            
            transition: .3s;
        }
        #filosofia:hover{
            background-size: 110%;
        }

        #sociologia{
            background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.45), rgba(61, 61, 61, 0.3)),url("{{URL}}/resources/images/materias/sociologia.jpg");
            background-position: center;
            background-size: 100%;
            
            transition: .3s;
        }
        #sociologia:hover{
            background-size: 110%;
        }

        #biologia{
            background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.45), rgba(61, 61, 61, 0.3)),url("{{URL}}/resources/images/materias/biologia.jpg");
            background-position: center;
            background-size: 100%;
            
            transition: .3s;
        }
        #biologia:hover{
            background-size: 110%;
        }

        #quimica{
            background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.45), rgba(61, 61, 61, 0.3)),url("{{URL}}/resources/images/materias/quimica.jpg");
            background-position: center;
            background-size: 100%;
            
            transition: .3s;
        }
        #quimica:hover{
            background-size: 110%;
        }

        #fisica{
            background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.45), rgba(61, 61, 61, 0.3)), url("{{URL}}/resources/images/materias/fisica.jpg");
            background-position: center;
            background-size: 100%;
            
            transition: .3s;
        }
        #fisica:hover{
            background-size: 110%;
        }
    </style>
        
    <img src="{{URL}}/resources/images/caderno3.png" alt="">
    <div class="materias-box">
        <h1 class="nome-projeto"><img src="{{URL}}/resources/images/logotipo.png" class="logo" alt=""></h1>
        <div>
            <div class="materias" id="matematica" onclick="linkMateria('materias/matematica')">
                <p>Matemática</p>
            </div>
            
            <div class="materias" id="portugues" onclick="linkMateria('materias/portugues')">
                <p>Português</p>
            </div>
    
            <div class="materias" id="historia"onclick="linkMateria('materias/historia')">
                <p>História</p>
            </div>
    
            <div class="materias" id="geografia"onclick="linkMateria('materias/geografia')">
                <p>Geografia</p>
            </div>
    
            <div class="materias" id="filosofia"onclick="linkMateria('materias/filosofia')">
                <p>Filosofia</p>
            </div>

            <div class="materias" id="sociologia"onclick="linkMateria('materias/sociologia')">
                <p>Sociologia</p>
            </div>

            <div class="materias" id="biologia"onclick="linkMateria('materias/biologia')">
                <p>Biologia</p>
            </div>

            <div class="materias" id="quimica" onclick="linkMateria('materias/quimica')">
                <p>Química</p>
            </div>

            <div class="materias" id="fisica" onclick="linkMateria('materias/fisica')">
                <p>Física</p>
            </div>

            <div class="materias">
                <p></p>
            </div>
        </div>
</div>